        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #8af9d9;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #000000;
        }
